@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  color: #403938;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.initial-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.initial-container-color {
  background-color: #FFD3E6;
  height: 48px;
  left: 0;
  top: 49%;
  position: absolute;
  width: 62%;
  z-index: 1;
  min-height: fit-content;
}

/* .position-container {
  align-items: center;
  display: flex;
  margin-left: 8vw;
  z-index: 2;
} */

/* #home-icon {
  padding-top: 15vh;
  z-index: 2;
  padding-left: 2vw;
} */

.name {
  font-size: 6vw;
  margin-bottom: 0;
  /* top: 45%; */
  padding-top: 10vh;
  max-width: 60vw;
  white-space: nowrap;
  display: flex;
  margin-left: 8vw;
  z-index: 2;
}

/* 
  SEARCH:
  https://www.sitepoint.com/css-typewriter-effect/
  https://codepen.io/marudhupandiyang/pen/jLEdLR
*/
.typing-container {
  display: inline-block;
  margin: 0;
  margin-left: 8vw;
  max-width: fit-content;
  z-index: 2;
}

.typing {
  font-size: 3.5vw;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  border-right: .15em solid;
  animation: typing 5s steps(20) infinite, blink .7s infinite;
  animation-fill-mode: forwards;
  z-index: 2;
  margin-top: 0;
}

@keyframes typing {
  0% { width: 0 }
  25% { width: 70% }
  48% { width: 100% }
  50% { width: 100% }
  55% { width: 100% }
  75% { width: 70%; }
  85% { width: 30%; }
  100% { width: 0; }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #000000 }
}

.about-me {
  display: flex;
  margin-bottom: 2.5em;
  flex-direction: column;
}

.about-color {
  background-color: #a1f4ff;
  height: 30px;
  width: 40%;
  left: 0;
  position: absolute;
  z-index: 1;
}

.about-me h1 {
  margin-top: 0;
  margin-left: 8vw;
  display: flex;
  text-align: center;
  z-index: 2;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container img {
  width: 22vmax;
  height: 22vmax;
  object-fit: cover;
  border-radius: 50%;
}

.positioning-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 2em 0 0;
  flex-wrap: wrap;
}

.card {
  background-color: #F7F9F9;
  border-radius: 0.5rem;
  border: 1px solid #7B7D7D;
  margin: 3em;
  width: 80vmin;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #F7F9F9;
  border-bottom: 1px solid #7B7D7D;
  display: block;
  padding: 0.4em;
  width: 100%;
  padding-top: 0;
  margin-top: 5px;
  box-sizing: border-box;
}

#red-circle, #yellow-circle, #green-circle {
  height: 9px;
  padding: 2px 3px 2px 3px;
  width: 9px;
}

.card-body {
  margin: 0 15px 0 15px;
}

.trybe-link {
  font-weight: 600;
  text-decoration: none;
}

.trybe-link:hover {
  text-decoration: underline;
}

.skills {
  color: #a1a1af;
  display: flex;
  text-align: center;
  /* margin-left: 8vw; */
  flex-direction: column;
}

.skills-container-color {
  background-color: #FCDF95;
  height: 30px;
  width: 40%;
  left: 0;
  position: absolute;
  z-index: 1;
}

.skills h1 {
  margin-top: 0;
  margin-left: 8vw;
  display: flex;
  text-align: center;
  z-index: 2;
}

.skills span {
  text-align: center;
}

.skills-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3em 3em 3em 0;
}

.skill {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 10px;
  padding: 15px 10px 5px 10px;
  width: 120px;
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 5%);
}

#javascript-icon, #mysql-icon, #mongodb-icon, #node-icon, #python-icon, #react-icon {
  /* background-color: #1f1c28; */
  color: #a1a1af;
  height: 50px;
  padding: 0 5px 10px 5px;
  width: 50px;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.footer-text {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 18px;
  margin-top: 0;
}

.social-links {
  margin-top: 10px;
}

#github-logo, #linkedin-logo {
  color: #a1a1af;
  height: 33px;
  padding: 0 5px 0 5px;
  width: 33px;
}

.projects {
  color: #a1a1af;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
}

.projects-color {
  background-color: #D0DFF2;
  height: 30px;
  width: 40%;
  left: 0;
  position: absolute;
  z-index: 1;
}

.projects h1 {
  margin-top: 0;
  display: flex;
  text-align: center;
  z-index: 2;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 2em 2em 0;
}

.project {
  width: 400px;
  height: 250px;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 5%);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project:hover {
  background-color: #F0F2F5;
}
